{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Contenido relacionado a la seguridad informática, programación, configuración e instalacion de software">
  <meta name="keywords" content="Seguridad informática, hacking, programación, configuración de software, software, hardware">
  <meta name="author" content="Luis Enrique ML">
  <meta name="copyright" content="Luis Enrique ML">
  <meta name="resource-type" content="howto">
  <meta name="robots" content="noindex, nofollow">

  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32">

  <title>
    No encontrado :(
  </title>
</head>

<body>
  <center>
    <img src="{% static 'img/404.svgz' %}">
  </center>
</body>

</html>
