{% extends 'blog/base.html' %}
{% load static %}

{% block titulo %}
LEML - {{ pub.titulo }}
{% endblock %}

{%block meta_contenido%}
<meta name="description" content="{{pub.explicacion|truncatewords:100}}">
{%endblock%}


{%block meta_claves%}
{%endblock%}




{% block barra_nav %}
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="/">Inicio</a>
		<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		Menu
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item mx-0 mx-lg-1">
					<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#definicion">Definición</a>
				</li>
				<li class="nav-item mx-0 mx-lg-1">
					<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#herramientas">Herramientas</a>
				</li>
				<li class="nav-item mx-0 mx-lg-1">
					<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#procedimiento">Procedimiento</a>
				</li>
				<li class="nav-item mx-0 mx-lg-1">
					<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#conclusiones">Conclusiones</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}





{% block cabecera %}
	<nav class="navbar">
		
	</nav>
	<header class="jumbotron my-4" id="definicion">
		<h1 class="display-3">{{pub.titulo}}</h1>
		<h7>{{pub.fecha_de_publicacion}}</h7>
		<p align="justify">{{pub.definicion}}.</p>
	</header>
{% endblock %}





{% block blog%}
	<section>
		<div class="container" align="justify">
    		<p>{{pub.explicacion}}.</p>
			{% if pub.herramientas %}
			<p>Las herramientas que se utilizarán son las siguientes:</p>
			<h1 class="display-3" id="herramientas">Herramientas</h1>
			<div>
				<ul>
					<li>
					{% for x in pub.herramientas %}
						{% if x == ',' %}
							</li>
							<li>
						{% elif x == ' ' %}
							&nbsp
						{% else %}
							{{x}}
						{% endif %}
					{% endfor %}
					</li>
				</ul>
			</div>
			{% endif %}
	    </div>
	</section>

	{% if pub.paso1 %}
	<section id="procedimiento">
		<div class="container" align="justify">
			<h1 class="display-3" id="herramientas">Procedimiento</h1>
			<h5>Paso 1</h5>
			<p>{{ pub.paso1 }}</p>
			<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/1.png" alt="">

			{% if pub.paso2 %}
				<h5>Paso 2</h5>
				<p>{{ pub.paso2 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/2.png" alt="">
			{% endif %}

			{% if pub.paso3 %}
				<h5>Paso 3</h5>
				<p>{{ pub.paso3 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}3/.png" alt="">
			{% endif %}

			{% if pub.paso4 %}
				<h5>Paso 4</h5>
				<p>{{ pub.paso4 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/4.png" alt="">
			{% endif %}

			{% if pub.paso5 %}
				<h5>Paso 5</h5>
				<p>{{ pub.paso5 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/5.png" alt="">
			{% endif %}

			{% if pub.paso6 %}
				<h5>Paso 6</h5>
				<p>{{ pub.paso6 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/6.png" alt="">
			{% endif %}

			{% if pub.paso7 %}
				<h5>Paso 7</h5>
				<p>{{ pub.paso7 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/7.png" alt="">
			{% endif %}

			{% if pub.paso8 %}
				<h5>Paso 8</h5>
				<p>{{ pub.paso8 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/8.png" alt="">
			{% endif %}

			{% if pub.paso9 %}
				<h5>Paso 9</h5>
				<p>{{ pub.paso9 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/9.png" alt="">
			{% endif %}

			{% if pub.paso10 %}
				<h5>Paso 10</h5>
				<p>{{ pub.paso10 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/10.png" alt="">
			{% endif %}

			{% if pub.paso11 %}
				<h5>Paso 11</h5>
				<p>{{ pub.paso11 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/11.png" alt="">
			{% endif %}

			{% if pub.paso12 %}
				<h5>Paso 12</h5>
				<p>{{ pub.paso12 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/12.png" alt="">
			{% endif %}

			{% if pub.paso13 %}
				<h5>Paso 13</h5>
				<p>{{ pub.paso13 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/13.png" alt="">
			{% endif %}

			{% if pub.paso14 %}
				<h5>Paso 14</h5>
				<p>{{ pub.paso14 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/14.png" alt="">
			{% endif %}

			{% if pub.paso15 %}
				<h5>Paso 15</h5>
				<p>{{ pub.paso15 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/15.png" alt="">
			{% endif %}

			{% if pub.paso16 %}
				<h5>Paso 16</h5>
				<p>{{ pub.paso16 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/16.png" alt="">
			{% endif %}

			{% if pub.paso17 %}
				<h5>Paso 17</h5>
				<p>{{ pub.paso17 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/17.png" alt="">
			{% endif %}

			{% if pub.paso18 %}
				<h5>Paso 18</h5>
				<p>{{ pub.paso18 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/18.png" alt="">
			{% endif %}

			{% if pub.paso19 %}
				<h5>Paso 19</h5>
				<p>{{ pub.paso19 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/19.png" alt="">
			{% endif %}

			{% if pub.paso20 %}
				<h5>Paso 20</h5>
				<p>{{ pub.paso20 }}</p>
				<img class="img-fluid rounded mb-5" src="{% static 'img/Blog/'%}{{pub.titulo}}/20.png" alt="">
			{% endif %}

		</div>
	</section>
	{% endif %}





	{% if pub.conclusiones %}
	<section>
		<div class="container" align="justify">
			<h1 class="display-3" id="conclusiones">Conclusiones</h1>
			{{pub.conclusiones}}.
		</div>
	</section>
	{% endif %}

	</br>
	</br>
	</br>


{% endblock %}